h1 {
    background-color: coral;
    font: white;
}

img {
    max-width: 500px;
    max-height: 500px;
    border: 50px solid;
    border-color: black;
    margin: 5px;
}
aside {
    float: left;
    margin: 0px 20px 0px 10px;
    position: fixed;
    border: 2px solid;
    padding: 20px ;
    line-height: 1.5;
}

.container {
    margin: 0 auto;
    width: 700px;
}